header{
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 31, 33); 
    width: 100%;
    height: 75px;
}

.headerName{
    justify-content: center;
    padding: 24px;
    align-self: center;
    font-size: 18px;
}